<h1>Hello World!</h1>
	
<%= locals.message %>

<p><a href="/cars">Forfatternavn</a></p>
<p>antal side: 123</p>
<p>Genre: drama</p>
<p>Læst?</p>


<% if(locals.car){ %>
    <div>
        <h2>Dette er en bog</h2>
        <%=  car.coverImageName %>
        <%=  car.Brand %>
    </div>
<% } %>