$mainclr: white;
$txtclr: white;
$bgboxclr: rgb(54, 54, 54);
$mainsitebgclr: rgb(53, 53, 53);
* {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background-color: $mainsitebgclr;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.welcometxt{
    color: $txtclr;
}

.allobbox{
    display: flex;
    flex-direction: row;
    
    
}
.carbox {
    padding-top: 30px;
    // background-color: $bgboxclr;
    color: $txtclr;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
        // background-color: $bgboxclr;
    }
}


.carbox img {
    max-width: 50%;
}
